{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'baloes.css' %}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Chatbot</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-info">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-white" href="">
					<span class="dot"></span>&nbsp;Chatbot está online
				</a>
			</li>
		</ul>
	</nav>
	<br>
	<div>
		<div style="overflow-y: scroll; height: 300px; width: 100%;" align="center" id = "msg">
			<div class="talk-bubble try-right left-top" style="widows: 90%; background-color: #00aabb;">
				<div class="talk-text">
					<p>Olá em que posso ajudar?</p>
				</div>
			</div>
		</div>
		<input type="text" id="input" class="form-control"
		onkeypress="return Send(event)" placeholder="Digite sua mensagem e tecle Enter...">
	</div>
	<input type="hidden" id="code_user" value="{{code_user}}">
	<input type="hidden" id="code_before" value="0">
	
	<script>
        function Send(evento){
            if(evento.keyCode == 13){
                perguntar();
                return false;// nao recarregar a pagina;
            }
        }
        
        function pergunta(){
            const Input = document.getElementById("input");
            const question = Input.value.toString().trim(); // recebe o valor do campo input do usuário . e convert para string . remove espaços do inicio e do fim;
            // remove acentos
            let questionSEND = question.normalize("FND").replace(/[\u0300-\u036f]/g, "");
            // remove caracteres não alfanumericos;
            questionSEND = questionSEND.replace(/[^a-zA-Z0-9@,.:;!?-\s]/g, "");
            
            const msg = document.getElementById("msg");
            const code_user = document.getElementById("code_user");
            const code_before = document.getElementById("code_before");
            
            let msgLines = msg.innerHTML;
            msgLines = msgLines.replace('<a href="#" id="end">', ''); // troca a tag a por vazio
            const codeUser = Number(code_user.value);
            const codeBefore = Number(code_before.value);
            
            const http = new XMLHttpRequest(); // fazer a requisição http
            //      Tipo conexão
            http.open("GET",`/perguntas/questao/${codeUser}/${codeBefore}/${questionSEND}`, true);
//            o envio assincrono nao espera o termino da requisão, faz um comando sem precisar esperar que o outro termine
            // envia um cabeçalho com tipo de contúdo protegido
            http.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            // lendo o estado de alteração do Objeto construido -> http
            // na conclusão do envio da requisão a funçã é executada
            http.onreadystatechange = function(){
                // compara a conclusão XMLHttpRequest.DONE com o stado do Objeto
                if(this.readyState == XMLHttpRequest.DONE && this.status === 200){ // 200 = bem sucedido
                    let objJSON = JSON.parse(http.responseText);
                    
                    if(objJSON.length > 0){
                        code_before.value = objJSON[0].code_current; // code_current é o mesmo que o code da tabela pergunta
                        
                        const input = question;
                        const output = objJSON[0].output.toString().trim();
                        
                        msgLines +=
                        `
                        <div class="talk-bubble try-right right-top" style="widows: 90%; background-color: #8000ff;">
                            <div class="talk-text">
                               <p>${input}</p>
                            </div>
                        </div>

                        <div class="talk-bubble try-right left-top" style="widows: 90%; background-color: #00aabb;">
                            <div class="talk-text">
                                <p>${output}</p>
                            </div>
                        </div>
                        <a href="#" id="end">
                        `;
                        
                        document.getElementById("input").value = "";
                        msg.innerHTML = msgLines;
                        window.location.href = "#end"; // faz o scroll rolar para baixo
                        document.getElementById("input").focus(); // foco automatico no campo;
                    }
                }
            }
            http.send();
        }
        window.location.href = "#end"; // faz o scroll rolar para baixo
        document.getElementById("input").focus();
    </script>
	
</body>
</html>






















